/* Normalize/Reset CSS (normalize.css) */

/* Main Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0077b6;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    text-align: center;
}

#menu {
    display: block;
    font-size: 2.2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: #000;
    margin-left: auto;
    grid-row: 1;
    grid-column: 1/-1;
}

#menu::before {
    content: "≡";
    color: #fdf0d5;
}

nav {
    background-color: #264653;
    color: #fdf0d5;
    width: 100%;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
navigation a:active {
    color: #e9c46a;
    background-color: black;
}

.show li {
    display: block;
    grid-row: 1;
    grid-column: 1/-1;
}

#menu.show::before {
    content: "X";
    margin-left: auto;
    color: #fdf0d5;
}

main {
    padding: 20px;
}

footer {
    background-color: #0077b6;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Grid & List Views */
#members-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.member-card {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

.member-card img {
    width: 100%;
    height: auto;
}

#members-list.list-view {
    display: block;
}

#members-list.list-view .member-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* View Toggle */
.view-toggle {
    text-align: center;
}

.view-toggle button {
    margin: 10px;
    font-size: 1rem;
}

/* Responsive Styles */
@media (min-width: 768px) {
    #members-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 15px;
    }

    nav .hamburger {
        display: none;  /* Ocultar el botón de hamburguesa en pantallas grandes */
    }

    nav .nav-menu {
        display: flex;  /* Mostrar el menú como una fila en pantallas grandes */
        position: static;
        flex-direction: row;
        background-color: transparent;
    }

    nav .nav-menu li a {
        padding: 0.5rem 1rem;  /* Añadir más espacio en el menú de escritorio */
    }
}
